* {
    box-sizing: border-box;
}
body {
    background-color: #C8CDDB;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.application {
    background-color: #F0EEF6;
    width: 28%;
    height: 80%;
    border-radius: 40px;
    display: grid;
    grid-template-rows: 1fr 7fr 0.5fr 1fr;
    overflow:hidden;
}
.application-nav {
    background: linear-gradient(to right bottom, #DFB7D1, #7FB4F0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color:white;
}
.application-input {
    border: none;
    padding: 0 10px;
    font-size: 24px;
}
.application-input:focus{
    outline: none;
}
.application-btn {
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out;
}
.application-btn:hover{
    transform: scale(1.1);
}
ul {
    list-style: none;
}
.application-list{
    display: flex;
    flex-direction: column;
}
.text-span {
    display: flex;
    justify-content: space-between;
}
.del-btn {
    width: 10%;
}